.pagination {
  @extend %fCenter;
  height: 5rem;
  button {
    border: none;
    margin: 0.3125rem;
    border-radius: 0.625rem;
    color: white;
    background-color: black;
    height: 2.5rem;
    width: 2.5rem;
    &.active,
    &:hover,
    &:focus {
      background-color: #858585;
      color: white;
    }
  }
}
