//

@mixin align($align: stretch) {
  @if $align == stretch {
    align-items: stretch;
  } @else if $align == start {
    align-items: flex-start;
  } @else if $align == center {
    align-items: center;
  } @else if $align == end {
    align-items: flex-end;
  }
}

@mixin justify($justify: stretch) {
  @if $justify == stretch {
    justify-content: stretch;
  } @else if $justify == start {
    justify-content: flex-start;
  } @else if $justify == center {
    justify-content: center;
  } @else if $justify == end {
    justify-content: flex-end;
  }
}

// mixin fCenter is mixin for make the selector flex and make content center

@mixin fCenter($align: center, $justify: center) {
  display: flex;
  @include align($align);
  @include justify($justify);
}

// mixin aCenter is mixin for make the selector in center of the screen by use position absolute

@mixin aCenter {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

// mixin vPCenter is mixin for make the selector in center of the line vertecl

@mixin vPCenter {
  bottom: 50%;
  transform: translateY(50%);
}

// mixin hPCenter is mixin for make the selector in center of the line horizentl

@mixin hPCenter {
  right: 50%;
  transform: translateX(50%);
}

// mixin fSpacer is mixin for make space between items in each direction by display the element flex

@mixin fSpacer($direction: row, $alignCenter: true) {
  display: flex;
  flex-direction: if($direction == column, column, row);
  justify-content: space-between;
  @if $alignCenter != false {
    align-items: center;
  }
}

// mixin fGap is mixin for make element display flex and has option to control the gap

@mixin fGap($gap: 1rem) {
  display: flex;
  gap: $gap;
}

// mixin fCol is mixin for make flex and its direction is column and has option to control the align

@mixin fCol($align: stretch) {
  display: flex;
  flex-direction: column;
  @include align($align);
}

@mixin fColX($align: stretch) {
  @include fCol($align);
}

@mixin fColY($jusify: stretch) {
  @include justify($justify);
}

// mixin fRow is mixin for make flex and its direction is row and has option to control the jusify content

@mixin fRow($justify: stretch) {
  display: flex;
  flex-direction: row;
  @include justify($justify);
}
@mixin fRowX($justify: stretch) {
  @include fRow($justify);
}
@mixin fRowY($align: stretch) {
  display: flex;
  flex-direction: row;
  @include align($align);
}

// mixin radiBox is mixin make the first element has radius border in two side and the last element
// has two radius border in opsiet side
// the prameter $radius for the value of the radius and the prameter $direction for the direction of box
// vertecl or horizentl

@mixin radiBox($radius, $direction: true) {
  &:first-of-type {
    border-radius: if($direction, $radius 0 0 $radius, $radius $radius 0 0);
  }
  &:last-of-type {
    border-radius: if($direction, 0 $radius $radius 0, 0 0 $radius $radius);
  }
}

// overlay mixin is genral mixin can make overlay for all elements

@mixin overlay(
  $color: #000,
  $opacity: 0.6,
  $width: 100%,
  $height: 100%,
  $y: 0,
  $x: 0
) {
  position: absolute;
  top: $y;
  right: $x;
  width: $width;
  height: $height;
  background-color: rgba($color, $opacity);
}
